<!DOCTYPE html>
<html>
  <head>
    <title>Time Tracker&trade;</title>

    <!--fav icon at the browser-->
    <link rel="apple-touch-icon" sizes="57x57" href="/templates/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/templates/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/templates/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/templates/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/templates/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/templates/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/templates/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/templates/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/templates/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/templates/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/templates/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/templates/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="/templates/manifest.json">
    <meta name="msapplication-TileColor" content="#020419">
    <meta name="msapplication-TileImage" content="/templates/ms-icon-144x144.png">
    <meta name="theme-color" content="#020419">

    <!--Import Adelle Font-->
    <link rel="stylesheet" href="https://use.typekit.net/kkw0eee.css"/>

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Normalize to adapt to different browsers-->
    <link data-require="normalize@3.0.3" data-semver="3.0.3" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />

    <!--Checkbox function-->
    <!--Modal Initialization-->
    <script src="/static/js/Checkbox-count.js"></script>



    <style>
		@import url("/static/css/materialize_copy.css");
	</style>

  </head>

  <body style="background-color:#fff59d">

      <div>
          <section id="header">
              <center>
                  <br/><br/>
                  <img src="/static/logoapp.png" width="100" alt="Logo do App"/>

                  <h1>Time Tracker &trade;</h1>
              </center>
          </section>
      </div>


        <div class="container">

             <p></p><p></p><p></p><p></p>
            <div class="row">

                        <div class="row">



                        <div class="grid-example col s12 m6 l6">

                                <div class="grid-example col s1"><span class="flow-text" style="font-size:large black">&nbsp;&nbsp;AM</span></div>
                                <div class="grid-example col s12">
                                <div class="col s1"><span style="font-size:large black ">12</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black">&nbsp;1</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;2</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;3</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;4</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;5</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;6</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;7</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;8</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">&nbsp;9</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">10</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:large black ">11</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                </div>
                        </div>



                        <div class="grid-example col s12 m6 l6">

                                <div class="grid-example col s1"><span class="flow-text" style="font-size:large black">&nbsp;&nbsp;PM</span></div>
                                <div class="grid-example col s12">
                                <div class="col s1"><span style="font-size:small black ">12</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black">&nbsp;1</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;2</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;3</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;4</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;5</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;6</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;7</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;8</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">&nbsp;9</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">10</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1"><span style="font-size:small black ">11</span><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                </div>
                        </div>

                        </div>
                        </div>
            </div>

            <p></p>
            <p></p>
            <!-- Modal Trigger -->

            <div>
                <center><button id="calulcate" class="btn waves-effect blue-grey darken-4 modal-trigger"
                    type= "submit" value="calculate" data-target="choice1" onclick="checkboxes()">CALCULATE</button></center>

            </div>
            <div class="modal" id="choice1">
                <div style="text-align:right">
                <button class="btn modal-close z-depth-0" style="background-color:white font-color:black">x</button>
                </div>
                <div class="modal-content">

                    <div class="modal-body">
                        <div><center><h1 id="modalContentContainer"></h1><bold></bold></center></div>
                    <center><p clas="flow-text" style="font-weight:bold;"> Your child's weekly average exposure to your language</p></center>
                    </div>
                </div>

                <div class="modal-footer">
                    <center><button onclick="takeScreenShot()" class="btn waves-effect blue-grey darken-4">Snapshot</button>

                    <a href="https://www.thealmacollective.com/learn-and-grow"><button class="btn waves-effect blue-grey darken-4">Learn More</button></a>

                    </center>
                </div>
            </div>

            <div class="page-footer" style="text-align:center">
                <a href="https://www.thealmacollective.com/learn-and-grow">learn more</a>
                <a href="#">|</a>
                <a href="https://www.thealmacollective.com/about-us">about us</a>
            </div>




  </body>
</html>