<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Time Tracker&trade;</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/57e3d8db37c581fc1153310c/t/596df1d617bffc03c0cd205f/favicon.ico">

    <!--Import Adelle Font-->
    <link rel="stylesheet" href="https://use.typekit.net/kkw0eee.css">

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Normalize to adapt to different browsers-->
    <link data-require="normalize@3.0.3" data-semver="3.0.3" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />

    <style>
		@import url("/static/css/tt_style.css");
	</style>

  </head>

  <body style="background-color:#fff59d">

      <div>

              <center>
                  <br/><br/>
                  <img src="/static/logoapp.png" width="150" alt="Logo do App"/>
              </center>

                  <br>

                  <div class="headlineB"><center>
                      Time Tracker&trade;</center>
                  </div>

      </div>
     <br>
     <br>
     <br>
 <!--Show on Desktops-->
     <div class="show-on-large hide-on-med-and-down">
     <div class="container" style="width: 60%">

            <div class="row">
                <div class="col s6" style="padding: 0 .05rem;"><span class="copyB left-align" style="line-height: 14pt;font-weight: bold;">&nbsp;AM</span></div>
                <div class="col s6" style="padding: 0 .05rem;"><span class="copyB left-align" style="line-height: 14pt;font-weight: bold;">&nbsp;PM</span></div>

                    <div class="col l6" style="padding: 0 .05rem;">

                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                    </div>

                    <div class="col l6" style="padding: 0 .05rem;">

                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                    </div>

                <div class="col l6" style="padding: 0 .05rem;">

                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;12</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;1</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;2</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;3</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;4</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;5</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;6</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;7</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;8</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;9</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;10</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;11</span></div>
                    </div>
                <div class="col l6" style="padding: 0 .05rem;">

                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;12</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;1</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;2</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;3</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;4</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;5</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;6</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;7</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;8</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;9</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;10</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;11</span></div>
                    </div>

                   </div>

                <br>
               <!-- Modal trigger -->
                <center><button id="calculate" class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="font-color:white bold"
                    type= "submit" value="calculate" data-target="choice1" onclick="checkboxes()">CALCULATE</button></center>
                <div>
                <br>
                <center>
                <a target="_blank" href="https://www.thealmacollective.com/timetracker" class="btn hyperlink z-depth-0" style="padding: 0 0px; height: 20px; color:black; background-color:transparent; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold;text-transform:none">how it works</a>
                <a style=" font-size: 8pt; line-height: 12pt; font-weight: bold; color:black">|</a>
                <a id="show" value="show" class="btn hyperlink z-depth-0" style="padding: 0 0px;height: 20px; color:black; color:black; background-color:transparent; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold;text-transform:none">instructions</a>
                </center>
                </div>
                <br>
                <br>

        <!-- Modal content -->
        <!-- End of Modal -->
            <div class="row" style="text-align:center">

            <p class="copyB" style="line-height: 14pt;font-weight: bold; font-family: adelle-sans; font-size:10pt">The Time Tracker™ is a tool developed by <a target="_blank" href="http://www.thealmacollective.com/" class="copyB" style="line-height: 14pt;font-weight: bold; font-family: adelle-sans; font-size:10pt; color:black; text-decoration: underline; font-color:black">The Alma Collective</a> to make your efforts in raising multilingual
            children tangible. There’s no need to open an account or give us your name at this stage. It is an invitation to play,
            explore, and improve. We’d love to <a href="https://thealmacollective.typeform.com/to/eSMZcW" class="copyB" style="line-height: 14pt;font-weight: bold; font-family: adelle-sans; font-size:10pt; color:black; text-decoration: underline; font-color:black">hear your feedback </a> on it.
            </p>
            <br>
            </div>


     </div>
    </div>
<!--Show on Tablets and Mobiles-->
    <div class="show-on-medium-and-down hide-on-large-only">
        <div class="container" >

           <div class="row">
                   <div class="col s12 m12 l12">
                       <div class="col s1"style="text-align:right"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;</span></div>
                       <div class ="col s11 m11 l11">
                       <div class ="col s12 m12 l12">

                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;12</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;1</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;2</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;3</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;4</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;5</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;6</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;7</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;8</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;9</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;10</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;11</span></div>
                       </div>

                      </div>
                   </div>
           </div>

           <div class="row">
                       <div class="col s12 m12 l12">
                       <div class="col s1"style="text-align:right;"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">AM</span></div>
                       <div class="col s11 m11 l11">
                       <div class ="col s12 m12 l12">

                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                       </div>
                       </div>
                       </div>
           </div>

            <div class="row">
                       <div class="col s12 m12 l12">

                       <div class="col s1" style="text-align:right;"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">PM</span></div>
                       <div class="col s11 m11 l11">
                       <div class="col s12 m12 l12">

                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                       </div>
                       </div>

                   </div>
            </div>

                   <br>
                   <br>

               <!-- Modal Trigger -->


                   <center><button id="calculate" class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="font-color:white bold"
                       type= "submit" value="calculate" data-target="choice1" onclick="checkboxes()">CALCULATE</button></center>
                   <div>
                   <br>
                   <center>
                   <a target="_blank" href="https://www.thealmacollective.com/timetracker" class="hyperlink" style="font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; color:black" >how it works</a>
                   <a href="#"style=" font-size: 8pt; line-height: 12pt; font-weight: bold; color:black">|</a>
                   <a target="_blank" href="https://www.thealmacollective.com/about-us" class="hyperlink" style="font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; color:black">instructions</a>
                   </center>
                   </div>

           <!-- Here the modal  -->

               <div class="row" style="text-align:center">


               <p class="descriptionR" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt;">The Time Tracker™ is a tool developed by <a target="_blank" href="http://www.thealmacollective.com/" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold">The Alma Collective</a> to make your efforts in raising multilingual
               children tangible. There’s no need to open an account or give us your name at this stage. It is an invitation to play,
               explore, and improve. We’d love to <a href="https://thealmacollective.typeform.com/to/eSMZcW" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; font-color:black">hear your feedback </a> on it.
               </p>
               <br>
               <br>
               </div>


        </div>
       </div>
     <!-- Modal content -->
     <div class="modal" id="choice1" style="top:15%; bottom:15%; width:80%">
                   <div style="text-align:right">
                   <button class="btn modal-close z-depth-0" style="color:black; background-color:#fafafa; text-transform:none">X</button>
                   </div>
               <br>
               <br>
               <br>
               <br>
               <br>

               <div class="modal-content">
               <div class="modal-body" style="text-align:center">
                   <div id="modalContentContainer" class="number" style="font-family:adelle; font-weight: 700;"></div>

                    <div class="flow-text"><center><p class="copyB" style="font-family: adelle-sans; font-size: 10pt; line-height:14pt;font-weight: 700;"> This is your child's weekly average exposure to your language based on your predictions.
                     <br><a href="https://tac-tt.herokuapp.com/" class="copyB" style="color:black; font-family: adelle-sans; font-size: 10pt; line-height:14pt;font-weight: 700; text-decoration: underline;">Want to have another go?</a></p></center>
                   </div>
                   <div>
                       <center><a target="_blank" href="https://www.thealmacollective.com/timetracker-signupnow" ><button class="btn waves-effect blue-grey darken-4 z-depth-0 description modal-trigger" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">&nbsp;Sign Up</button></a>

                               <a target="_blank" href="https://thealmacollective.typeform.com/to/eSMZcW"><button class="btn waves-effect blue-grey darken-4 z-depth-0 description modal-trigger" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">Feedback</button></a>

                       </center>
                   </div>
               </div>
               </div>
     </div>
      <!-- End of Modal -->

<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--Checkbox function-->
<!--Modal Initialization-->
     <script src="/static/js/Checkbox-count.js"></script>

     <script>
         $(document).on('click', '#show',function(e)
         {
             var toastHTML = '<span>Do you see the 24 blocks? Each represents one hour of your day.</span><button class="btn-flat toast-action">Got it!</button>';
             M.toast({html: toastHTML});
         })

    </script>

  </body>
</html>