<!DOCTYPE html>
<html>
  <head>
    <title>Time Tracker&trade;</title>

    <!--fav icon at the browser-->

    <!--Import Adelle Font-->
    <link rel="stylesheet" href="https://use.typekit.net/kkw0eee.css">

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Normalize to adapt to different browsers-->
    <link data-require="normalize@3.0.3" data-semver="3.0.3" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />

    <!--Checkbox function-->
    <!--Modal Initialization-->
    <script src="/static/js/Checkbox-count.js"></script>



    <style>
		@import url("/static/css/tt_style.css");
	</style>

  </head>

  <body style="background-color:#fff59d">

      <div>

              <center>
                  <br/><br/>
                  <img src="/static/logoapp.png" width="150" alt="Logo do App"/>

                  <br>

                  <span class="headlineB" style="font-family: adelle-sans; font-size: 30pt; line-height: 30pt; font-weight:bold"> Time Tracker&trade;</span>
              </center>

      </div>
     <br>
     <br>
     <br>

     <div class="container">

        <div class="row">
                <div class="col s12 m12 l12">
                    <div class="col s0 m0 l3"></div>
                    <div class ="col s12 m12 l6">
                            <div class="col s1"style="text-align:right"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;</span></div>

                            <div class="col s1"style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">12</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;1</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;2</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;3</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;4</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;5</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;6</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;7</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;8</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;9</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">10</span></div>
                            <div class="col s1" style="text-align:right;"><span class="copyB" style="line-height: 14pt;font-weight: bold;">11</span></div>
                    </div>
                    <div class="col s0 m0 l3"></div>
                </div>
        </div>

        <div class="row">
                    <div class="col s12 m12 l12">
                    <div class="col s0 m0 l3"></div>
                    <div class="col s12 m12 l6">
                                <div class="col s1"style="text-align:right;"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">AM</span></div>

                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style="text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                    </div>
                    <div class="col s0 m0 l3"></div>
                    </div>
        </div>

         <div class="row">
                    <div class="col s12 m12 l12">
                    <div class="col s0 m0 l2"></div>
                    
                    <div class="col s1" style="text-align:right;"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">PM</span></div>
                    <div class="col s12 m12 l6">
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" style=" text-align:right;"><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                    </div>
                    <div class="col s0 m0 l3"></div>

                </div>
              </div>
                <br>
                <br>

            <!-- Modal Trigger -->


                <center><button id="calculate" class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="font-color:white bold"
                    type= "submit" value="calculate" data-target="choice1" onclick="checkboxes()">CALCULATE</button></center>
                <div>
                <br>
                <center>
                <a target="_blank" href="https://www.thealmacollective.com/learn-and-grow" class="hyperlink" style="font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; color:black" >learn more</a>
                <a href="#"style=" font-size: 8pt; line-height: 12pt; font-weight: bold; color:black">|</a>
                <a target="_blank" href="https://www.thealmacollective.com/about-us" class="hyperlink" style="font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; color:black">about us</a>
                </center>
                </div>
        </div>
        <!-- Modal content -->
            <div class="modal" id="choice1" style="top:15%; bottom:15%; width:80%">
                <div style="text-align:right">
                <button class="btn modal-close z-depth-0" style="color:black; background-color:#fafafa; text-transform:none">X</button>
                </div>
            <br>
            <br>
            <br>

            <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <div id="modalContentContainer" class="number" style="font-weight: 700!important;"></div>

                 <div class="flow-text"><center><p class="descriptionB" style="font-family: adelle-sans; font-size: 10pt; line-height:14pt;font-weight: 700;"> This is your child's weekly average exposure to your language based on your predictions.
                  <br><a href="https://tac-tt.herokuapp.com/" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold">Want to have another go?</a></p></center>
                </div>
                <div>
                    <center><a target="_blank" href="https://www.thealmacollective.com/timetracker-signup" ><button class="btn waves-effect blue-grey darken-4 z-depth-0 description modal-trigger" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">&nbsp;&nbsp; Sign Up &nbsp;&nbsp;</button></a>

                            <a target="_blank" href="https://www.thealmacollective.com/timetracker"><button class="btn waves-effect blue-grey darken-4 z-depth-0 description modal-trigger" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">Learn More</button></a>

                    </center>
                </div>
            </div>
            </div>
            </div>


              <!-- End of Modal -->
            <div class="row" style="text-align:center">


            <p class="descriptionR" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt;">The Time Tracker™ is a tool developed by <a target="_blank" href="http://www.thealmacollective.com/" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold">The Alma Collective</a> to make your efforts in raising multilingual
            children tangible. There’s no need to open and account or give us your name at this stage. It is an invitation to play,
            explore, and improve. We’d love to <a target="_blank" href="#" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; font-color:black">hear your feedback </a> on it.
            </p>
            <br>
            <br>
            </div>


     </div>

  </body>
</html>