<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Time Tracker&trade;</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/57e3d8db37c581fc1153310c/t/596df1d617bffc03c0cd205f/favicon.ico">

    <!--Import Adelle Font-->
    <link rel="stylesheet" href="https://use.typekit.net/kkw0eee.css">

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Normalize to adapt to different browsers-->
    <link data-require="normalize@3.0.3" data-semver="3.0.3" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />

    <style>
		@import url("/static/css/tt_style.css");
	  </style>

  </head>

  <body>

    <div style="background-color:#ffe763">
      <section>
        <div>
        <center>
        <br/>
        <br/>
        <a target="_blank" name= "LogoApp" href="https://www.thealmacollective.com">
        <img src="/static/logoapp.png" width="150" alt="Logo do App"/></a>
        </center>
        <br>

        <div class="headlineB"><center>
        Time Tracker&trade;</center>
        </div>
        </div>
      </section>
     <br>
     <br>
     <br>

      <section id="instructionsPage">
        <div><center>
        <h1>There are 24h in a day and you will see 24 blocks.<br>
            Roughly, at what times was your child exposed to your language yesterday?<br>
            Click each box this applies to. Hit “calculate” when you finish.
        </h1></center>
        </div>

        <div>
          <center><a href="start.html"><button class="btn waves-effect blue-grey darken-4 z-depth-0 description " style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">Time tracker</button></a>
          </center>
        </div>
      </section>
    <footer>
    <div class="row" style="text-align:center">
              <p class="descriptionR" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt;">The Time Tracker™ is a tool developed by <a target="_blank" href="http://www.thealmacollective.com/" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold">The Alma Collective</a> to make your efforts in raising multilingual
               children tangible. There’s no need to open an account or give us your name at this stage. It is an invitation to play,
               explore, and improve. We’d love to <a href="https://thealmacollective.typeform.com/to/eSMZcW" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; font-color:black">hear your feedback </a> on it.
               </p>
               <br>
               <br>
               </div>
    </footer>
    </div>

    <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--Checkbox function-->
<!--Modal Initialization-->
     <script src="/static/js/Checkbox-count.js"></script>
</body>
</html>